<!--
ROB599 Homwork 3 - timer node sends messages to itself.
Jake Anderson
Oct 24, 2020
-->


<launch>

	<!-- Start the timer node. -->
	<node pkg="not_a_project" name="laser_front_filter" type="laser_front_filter" output="screen" >
	</node>

	<node pkg="not_a_project" name="wall_aproach_node" type="wall_aproach_node" output="screen" >
	</node>


</launch>
